$fondo : #fffffe;
$Colorborde : #272343;
$ColorLetraPPal : #272343;
$ColorLetraSec :  #6d99d3c7;
$ColorLetraBlanca : #fffffe;
$ColorHoover : #ffd803;
$EstiloLetraPPal : 'Ubuntu';
$EstiloLetraSec : sans-serif;